extends layout 

block content 
    h2 !{player_input.input_name}'s Status 
    p #[b Miles TRAVELED:] 
    p #[b Oxen:] !{player_input.input_oxen}
    p #[b FOOD:] !{player_input.input_food}
    p #[b BULLETS:] !{player_input.input_bullets}
    p #[b CLOTHES:]  !{player_input.input_clothes}
    p #[b SUPPLIES:] !{player_input.input_supplies}
    div 
        button HUNT
        button CONTINUE

