extends layout 

block content 
    h2 !{the_player.name}'s Status 
    p #[b MILES TRAVELED: !{the_player.total_mileage}] 
    p #[b OXEN:] !{the_player.oxen}
    p #[b FOOD:] !{the_player.supplies.food}
    p #[b BULLETS:] !{the_player.supplies.bullets}
    p #[b CLOTHES:]  !{the_player.supplies.clothes}
    p #[b SUPPLIES:] !{the_player.supplies.miscellaneous}
    p #[b MEAL PLAN:] !{the_player.meal_plan}
    p #[b CASH:] !{the_player.cash}
    p #[b DATE:] !{date.date_to_string()}
    div 
        button HUNT
        button CONTINUE

